[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
pillow = "*"
opencv-python = "*"
googletrans = "*"
pyttsx3 = "*"
pyobjc-framework-quartz = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
