[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
opencv-python = "*"
numpy = "*"
pytesseract = "*"
deep-translator = "*"
pillow = "*"
autopep8 = "*"
pyperclip = "*"
tiktoken = "*"
Office365-REST-Python-Client = "*"
adal = "*"
python-dotenv = "*"
requests = "*"
pyobjc-framework-Quartz = "*"
pygetwindow = "*"

[dev-packages]

[requires]
python_version = "3.11"
